* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    margin: 0;
}

div {
    max-width: 400px;
    margin: 0 auto; /* Add margin-top to move the container up */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #428bde;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #428bde;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

input[type="submit"] {
    padding: 10px;
    background-color: #428bde;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #428bde;
}

input[type="submit"]:focus {
    outline: none;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #428bde;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

select {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 2.3%;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

option {
    background-color: #f5efef;
    color: #333;
}

span{
    color: red;
    display: none;
    font-size: 12px;
}