* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin: 0;*/
}

div.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.imagePart {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content vertically */
    height: 200px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 0;
}
h1 {
    text-align: center;
    color: #428bde;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #428bde;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}


input[type="button"] {
    padding: 10px;
    background-color: #428bde;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.otherButtons{
    margin: 0px auto; /* Add margin-top to move the container up */
    display:flex;
    flex-direction: column;
    text-align: center;

}
.otherButtons a{
    background-color: #428bde;
    /*display: block;*/
}
.loginButton{

    /*display:flex;*/
    flex-direction: column;
    text-align: center;
    background-color: #0066cc;

}

span{
    color: red;
    display: none;
    font-size: 12px;
}
/*input[type="submit"]:hover {*/
/*    background-color: #004c99;*/
/*}*/
/*input[type="submit"]:focus {*/
/*    outline: none;*/
/*}*/